

@font-face {
    font-family: "eras";
    src: url("assets/font/itcerasstd-book.otf")

}

@font-face {
    font-family: "BebasNeue";
    src: url(./BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Fortunates";
    src: url(./Fortunates\ December.ttf);
}




.navbar{
    background-color: #E7E7D9 !important;
}



.nav-item{
    padding: 0px 1.5rem !important;
    color: #275754;
}

.nav-item span{
    margin: 0;
    font-size: 1rem;
    font-family: "BebasNeue";
    color: #275754;
}

.nav-item a {
    margin: 0;
    text-decoration: none;
    color: #275754;
    font-family: "BebasNeue";
    font-size: 1.5rem;
}


.navbar-brand{
    color: #f2bf11;
    font-family: "BebasNeue";
    font-size: 3rem;
}



/* 
----------------------------------------------------
* START :  BANNER STYLE
----------------------------------------------------
*/

.banner_section{
    padding-top: 30px;
}


.banner_text {
    padding: 4rem 0px;

}

.banner_text h3 {
    font-family: "BebasNeue" !important;
    font-size: 1rem;
    margin-bottom: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #E7E7D9;
    text-align: center; 
}

.banner_text h1{
    font-family: "eras";
    font-size: 2rem;

    color: #E7E7D9;
    text-align: center;
    /* line-height: 90px; */
    letter-spacing: 1px;
    overflow-wrap: break-word;
}


/* 
----------------------------------------------------
* END :  BANNER STYLE
----------------------------------------------------
*/





/* 
----------------------------------------------------
* START :  MODULE SECTION STYLE
----------------------------------------------------
*/



.swiper-wrapper{
    transition-timing-function: linear;
}

.swiper-slide  {
    width: 100% !important;
    /* padding: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    max-width: 590px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


.divider{
    height: 2px;
    background-color: #2757547c;
}

.module_desc{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    padding-top: 2rem;
    
}

.module_desc .img_div {
    width: calc( (2rem * 1.6 ) * 2 );
    height: calc(  (2rem * 1.6 ) * 2  )  ;
    border: solid 2px #275754;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 50px;
}

.module_desc img{
    /* fill: #275754; */
    width : calc(2rem * 1.6)
}

.module_desc h1 {
    font-size: 2rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #275754;
    
}


.title_under{
    height: 5px;
    width: 100px;
    background-color: #f2bf11;
    margin-bottom: 20px;
}

.module_desc p {
    max-width: 50ch;
    color: #00000080;
    line-height: 1.75rem;
    font-family: "eras";

}

/* 
----------------------------------------------------
* END :  MODULE SECTION STYLE
----------------------------------------------------
*/





/* Reference section */

.ref-titles {
    padding: 10px;
}

.ref-titles h3{
    font-size: 13px;
    font-family: 'eras';
    font-weight: 800;
    text-transform: uppercase;
    color: #275754;
    letter-spacing: 5px;
}

.ref-titles h1 {
    font-size: 46px;
    font-family: 'eras';
    font-weight: 800;
    color: #275754;
    margin-top: 10px;
}

.ref-item{
    display: flex;
    padding: 3rem;
    display: flex;
    justify-content: center;
}


.ref-item img{
    display: block;
    width: 100% !important;
    max-width: 200px !important;
    object-fit: contain;
    object-position: center;
}





.contact-desc{
    color: #E7E7D9;
    text-align: center;
}

.contact-desc h1 {
    font-size: 4rem ;
    font-family: 'eras';
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.contact-desc h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'eras';
}

.contact-desc button {
    background: none ;
    border: 2px solid #E7E7D9;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E7E7D9;
    transition: all .5s ease-in-out;
}

.contact-desc button:hover{
    background-color: #E7E7D9;
    color: #275754;
    font-weight: bold
}


.footer-s1 {
    display: flex;
    justify-content: center;
}
.footer-s1 img {
    display: block;
    width: 100%;
    max-width: 150px;
    object-fit: contain;
    object-position: center;
}



.footer-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.map-icon{
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: #e9e9c3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-icon img {
    max-width: 100%;
}

.map-desc{
    margin-left: 2rem;
}

.map-desc h3 {
    font-size: 2rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    color: #E7E7D9;
    letter-spacing: 2px;
    margin: 0;
}

.map-desc p {
    color: #f2bf11;
    font-family: 'eras';
    font-size: 1rem;
    margin: 0;
}



.footer-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-media svg{
    transform: rotate(0deg);
    transition: all 1s ease-in-out ;
}

.footer-media svg:hover{
    transform: rotateY(360deg);
}

/* @keyframes rotate {
    0% {
        tra
    }
} */


.footer-nav a {
    font-size: .75rem;
    color: #e9e9c34e;
    text-decoration: none;
}

.footer-nav a:hover {
    
    color: #e9e9c3;
}
.footer-nav span{
    padding: 0px 1rem;
    color: #e9e9c34e;
}





/* Tablet size */
@media only screen and (min-width : 800px){

}


/* Desktop size */
@media only screen and (min-width: 1200px){

    
/* 
----------------------------------------------------
* START :  BANNER STYLE
----------------------------------------------------
*/

.banner_section{
    padding-top: 30px;
}


.banner_text {
    padding: 8rem 8rem;

}

.banner_text h3 {
    font-family: "goldbill";
    font-size: 1.5rem;
    margin-bottom: 20px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #E7E7D9;
    text-align: center;
}

.banner_text h1{
    font-family: "eras";
    font-size: 72px;

    color: #E7E7D9;
    text-align: center;
    line-height: 90px;
    letter-spacing: -2px;
    overflow-wrap: break-word;
}


/* 
----------------------------------------------------
* END :  BANNER STYLE
----------------------------------------------------
*/

.module_desc{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    padding-top: 0px;
}




}