*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "eras";
    src: url("assets/font/itcerasstd-book.otf")

}


@font-face {
    font-family: "BebasNeue";
    src: url(./BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Fortunates";
    src: url(./Fortunates\ December.ttf);
}


.navbar{
    background-color: #E7E7D9 !important;
}



.nav-item{
    padding: 0px 1.5rem !important;
    color: #275754;
}

.nav-item span{
    margin: 0;
    font-size: 1rem;
    font-family: "BebasNeue";
    color: #275754;
}

.nav-item a {
    margin: 0;
    text-decoration: none;
    color: #275754;
    font-family: "BebasNeue";
    font-size: 1.5rem;
}


.navbar-brand{
    color: #f2bf11;
    font-family: "BebasNeue";
    font-size: 3rem;
}


.banner-section {
    padding: 50px 0px;
    color: #275754;

}
.banner-section span {
    text-transform: uppercase;
    font-family: "BebasNeue";
    font-size: 2rem;
    letter-spacing: 2px;
}


.banner-section h1 {
    font-size: 10vw;
    margin: 1rem 0rem;
    font-family: "eras";
    font-weight: bold;
}

.banner-section p {
    font-size: 1rem;
    max-width: 50ch;
}



.ref-card{
    padding: 1rem;
    background-color: #275754;
}

.ref-img {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E7E7D9;
    padding: 2rem;
    margin-bottom: 1rem;
}

.ref-desc h1{
    font-size: 1.5rem;
    color: #E7E7D9;
    font-family: "eras";
    margin: 20px 0px;
}

.ref-desc p  {
    font-size: 1rem;
    color: #E7E7D9af;

}







.contact-desc{
    color: #E7E7D9;
    text-align: center;
}

.contact-desc h1 {
    font-size: 4rem ;
    font-family: 'eras';
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.contact-desc h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'eras';
}

.contact-desc button {
    background: none ;
    border: 2px solid #E7E7D9;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E7E7D9;
    transition: all .5s ease-in-out;
}

.contact-desc button:hover{
    background-color: #E7E7D9;
    color: #275754;
    font-weight: bold
}


.footer-s1 {
    display: flex;
    justify-content: center;
}
.footer-s1 img {
    display: block;
    width: 100%;
    max-width: 150px;
    object-fit: contain;
    object-position: center;
}



.footer-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.map-icon{
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: #E7E7D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-icon img {
    max-width: 100%;
}

.map-desc{
    margin-left: 2rem;
}

.map-desc h3 {
    font-size: 1rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    color: #E7E7D9;
    margin: 0;
}

.map-desc p {
    color: #ffd770;
    font-family: 'eras';
    margin: 0;
}



.footer-media{
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-nav {
    padding: 1rem 0px 0px 0px;
}

.footer-nav a {
    font-size: .75rem;
    color: #E7E7D94e;
    text-decoration: none;
}

.footer-nav a:hover {
    
    color: #E7E7D9;
}
.footer-nav span{
    padding: 0px 1rem;
    color: #E7E7D94e;
}




/* Tablet size */
@media only screen and (min-width : 800px){

}


/* Desktop size */
@media only screen and (min-width: 1200px){
    .banner-section {
        padding: 50px 0px;
        color: #275754;
    
    }
    .banner-section span {
        text-transform: uppercase;
        font-family: "BebasNeue";
        font-size: .75rem;
    }
    
    
    .banner-section h1 {
        font-size: 5vw;
        margin: 1rem 0rem;
        font-family: "eras";
        font-weight: bold;
    }
    
    .banner-section p {
        max-width: 50ch;
    }
    
    
}
