@font-face {
    font-family: "artico-bold";
    src: url("Artico/Fontspring-DEMO-artico-medium.otf")

}

@font-face {
    font-family: "artico-thin";
    src: url("Artico/Fontspring-DEMO-artico-light.otf")

}

@font-face {
    font-family: "eras";
    src: url("assets/font/itcerasstd-book.otf")

}

@font-face {
    font-family: "Always W01 Black";
    src: url("https://db.onlinewebfonts.com/t/26b8ae09ece7d707ec77a26999d6789c.eot");
    src: url("https://db.onlinewebfonts.com/t/26b8ae09ece7d707ec77a26999d6789c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/26b8ae09ece7d707ec77a26999d6789c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/26b8ae09ece7d707ec77a26999d6789c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/26b8ae09ece7d707ec77a26999d6789c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/26b8ae09ece7d707ec77a26999d6789c.svg#Always W01 Black")format("svg");
}




.navbar{
    background-color: transparent !important;
}



.nav-item{
    padding: 0px 1.5rem !important;
    color: #e9e9c3;
}

.nav-item span{
    margin: 0;
    font-size: .6rem;
    font-family: "artico-bold";

}

.nav-item a {
    margin: 0;
    text-decoration: none;
    color: #e9e9c3;
    font-family: "artico-bold";
    font-size: 1rem;
}


.navbar-brand{
    color: #ffd770;
    font-family: "artico-bold";
    font-size: 2rem;
}



.rea-title{
    position: relative;
    margin-bottom: 30px;
    margin-top: 100px;
    
}

.rea-title .title{
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "eras";
    font-weight: 700;
    color: #e9e9c3;
    word-spacing: -5px;
}


.rea-title .floating {
    color: #ffd770;
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    top: -2rem;
}


.service-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e9c3;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.355);
    padding: 1rem;
    border-radius: 10px;
    /* padding-right: 1rem; */
}


.service-img{
    margin-bottom: 2rem;
}

.service-item .service-title{
    font-size: 2rem;
    font-family: "artico-bold";
    /* font-weight: 700; */
    text-transform: uppercase;
    color: #3b7d7d;
    margin-bottom: 1rem;
}

.service-item p {
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5rem;
    color: #3b7d7d;
    margin-bottom: 2rem;

}


.service-item button{
    background: none ;
    border: none ;
    border-radius: 10px;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-family: "artico-bold";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3b7d7d;
    transition: all .5s ease-in-out;
    text-align: center;
}

.service-item button:hover{
    border: 2px solid #ffd770;
    color: #ffd770;
    background-color: #3b7d7d;
}


/* Reference section */

.ref-titles {
    padding: 10px;
}

.ref-titles h3{
    font-size: 13px;
    font-family: 'eras';
    font-weight: 800;
    text-transform: uppercase;
    color: #3b7d7d;
    letter-spacing: 5px;
}

.ref-titles h1 {
    font-size: 46px;
    font-family: 'eras';
    font-weight: 800;
    color: #3b7d7d;
    margin-top: 10px;
}

.ref-item{
    display: flex;
    padding: 3rem;
    display: flex;
    justify-content: center;
}


.ref-item img{
    display: block;
    width: 100% !important;
    max-width: 200px !important;
    object-fit: contain;
    object-position: center;
}





.contact-desc{
    color: #e9e9c3;
    text-align: center;
}

.contact-desc h1 {
    font-size: 4rem ;
    font-family: 'eras';
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.contact-desc h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'eras';
}

.contact-desc button {
    background: none ;
    border: 2px solid #e9e9c3;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-family: "artico-bold";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e9e9c3;
    transition: all .5s ease-in-out;
}

.contact-desc button:hover{
    background-color: #e9e9c3;
    color: #3b7d7d;
    font-weight: bold
}


.footer-s1 {
    display: flex;
    justify-content: center;
}
.footer-s1 img {
    display: block;
    width: 100%;
    max-width: 150px;
    object-fit: contain;
    object-position: center;
}



.footer-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.map-icon{
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: #e9e9c3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-icon img {
    max-width: 100%;
}

.map-desc{
    margin-left: 2rem;
}

.map-desc h3 {
    font-size: 1rem;
    font-family: "artico-bold";
    text-transform: uppercase;
    color: #e9e9c3;
    margin: 0;
}

.map-desc p {
    color: #ffd770;
    font-family: 'eras';
    margin: 0;
}



.footer-media{
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-nav {
    padding: 1rem 0px 0px 0px;
}

.footer-nav a {
    font-size: .75rem;
    color: #e9e9c34e;
    text-decoration: none;
}

.footer-nav a:hover {
    
    color: #e9e9c3;
}
.footer-nav span{
    padding: 0px 1rem;
    color: #e9e9c34e;
}