

@font-face {
    font-family: "eras";
    src: url("assets/font/itcerasstd-book.otf")

}


@font-face {
    font-family: "BebasNeue";
    src: url(./BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Fortunates";
    src: url(./Fortunates\ December.ttf);
}



.navbar{
    background-color: #E7E7D9 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}



.nav-item{
    padding: 0px 1.5rem !important;
    color: #275754;
}

.nav-item span{
    margin: 0;
    font-size: 1rem;
    font-family: "BebasNeue";
    color: #275754;
}

.nav-item a {
    margin: 0;
    text-decoration: none;
    color: #275754;
    font-family: "BebasNeue";
    font-size: 1.5rem;
}


.navbar-brand{
    color: #f2bf11;
    font-family: "BebasNeue";
    font-size: 3rem;
}


.small_banner{
    height: 100%;
    display: flex;
    /* background-color: #ffd770; */
    justify-content: center;
    align-items: center;
    padding: 1rem 0px;
}

.small_banner h3 {
    font-family: "BebasNeue";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    color: #275754;
}


#nuage_01{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 8;
    transform: translateX(-50%);
    opacity: .7;

}
#nuage_02{
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    opacity: .7;

}

#fusee{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    z-index: 9;
}

#logo{
    /* /* position: absolute; */
    /* top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);  */
    opacity: 0;
    position: relative;
}


.banner-text{
    padding-left: 50px;
}

.banner-text h1{
    font-family: "BebasNeue" ;
    letter-spacing: 3px;
    font-size: 5rem;
    color: #E7E7D9;
}
.banner-text h1:nth-child(2) {
    margin-bottom: 2rem;
}
.banner-text p {
    font-family: "eras";
    color: #e7e7d9ba;
    letter-spacing: 1px;
    max-width: 50ch;
    line-height: 1.5rem;
}


.title-sign {
    margin-top: 1rem; color: #f2bf11; text-transform: uppercase;
    font-family:"BebasNeue" ;
    letter-spacing: 3px;
}





.banner-container{
    /* border-left: solid 3px #ffd770; */
    overflow: hidden;
}

.titles h1 {
    font-family: "artico-thin";
    font-size: 5vw;
    letter-spacing: 2px;
    /* line-height: 1.5rem; */
}

.titles .divider {
    max-width: 300px;
    background-color: #ffd770;
    height: 3px;
    margin: 1rem 0px;
}


.para-banner {
    padding-top: 100px;
}

.para-banner p{
    max-width: 50ch;
    font-family: "eras";

    color: #E7E7D9;
    line-height: 2rem;
}

.para-banner a {
    text-decoration: none;
    color: #ffd770;
    font-family: "eras";
    margin-top: 2rem;
}

.banner-left{
    padding-left: 0px; 
    padding-bottom: 0px; 
    padding-top: 0px;
    text-align: center;
    padding: 0px 1rem;
}


.banner-left > span {
    color: #ffd770  ;
    font-size: 0.875rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
}

.banner-left h1 {
    font-size: 3rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    color: #e9e9c3;
    margin-bottom: 2rem;
}

.banner-left .divider-banner {
    height: 5px;
    width: 100px;
    background-color: #ffd770;
    margin: 2rem 0px;
}

.banner-left  > p {
    color: #e9e9c3de;
    font-family: "eras";
    max-width: 60ch;
    line-height: 1.75rem;
}


.circle_banner {
    position: absolute;
    left: 30%;
    top: 2%;
    width: 500px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* outline: solid 2px #8d6e09; */
    background-color: #275754bb;
    /* outline-offset: -20px; */
}



.banner-right {
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-top: 100px;
}

.banner-img {
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.banner-img img {
    display: block;
    width: 100%;
    max-width: 300px;
    object-fit: contain;
    object-position: center;
}



.slider-section{
    /* transform: rotate(-13deg); */
    position: absolute;
    bottom: 0%;
    /* width: 100%; */
}

.swiper-wrapper{
    transition-timing-function: linear;
  }

  .swiper-slide  {
    width: auto !important;
    letter-spacing : -3px; 
    text-transform : uppercase;
    font-size: 3rem;
    color: rgba(26, 56, 56, 0.337);
    transition: all .5s ease-in-out;
  }
  
  .swiper-slide span {
    -webkit-text-stroke: 1px #f2bf11 ;
    -webkit-text-fill-color: #275754;
  }

  .swiper-slide:hover b {
    color: #f2bf11;
  }

  */

  #circle.hoverd {
    /* border: solid 3px #ffd770; */
    background-color: #f2bf11;
    width: 120px; 
    height: 120px; 
  }

  /* Counter section style */
  .counter-container{
    padding: 1rem 0px;
    background-color: #e9e9c3;
  }



.number-container h3 {
    color: #275754;
    font-family: "BebasNeue";
    text-transform: uppercase;

}

.number-container hr{
    width: 100px;
    height: 5px;
    border: none;
    background: none;
    filter: none;
    opacity: 1;
    background-color: #ffd770;
}
.number-container p {
    max-width: 40ch;
    color: #275754;
    font-family: "artico-thin";

}


.number-item h1{
    font-family: "BebasNeue";
    color: #275754;
}

.number-item p {
    font-size: 1rem;
    font-family: 'eras';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #336E6E;
}


.number-item img {
    border: 3px solid #336E6E;
    padding: 1.5rem;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    transform: scale(1.0);
}


.number-item img:hover{
    transform: scale(1.1);
}







.number-cta{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.number-cta button{
    background: none ;
    border: 2px solid #275754;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #275754;
    transition: all .5s ease-in-out;
}

.number-cta button > svg{
    opacity: 0; 
    transform: translateX(60px);
    transition: all .5s ease-in-out;
}

.number-cta button:hover{
    border: 2px solid #ffd770;
    color: #ffd770;
    background-color: #275754;
}

.number-cta button:hover > svg {
    opacity: 1; 
    transform: translateX(20px);
}


.service-cta{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


.button {
    background: none ;
    border: 2px solid #275754;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #275754;
    transition: all .5s ease-in-out;
}

.button:hover {
    border: 2px solid #ffd770;
    color: #ffd770;
    background-color: #275754;
}

.service-cta button{
    background: none ;
    border: 2px solid #275754;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e9e9c3;
    transition: all .5s ease-in-out;
}


.service-cta button > svg{
    opacity: 0; 
    transform: translateX(60px);
    transition: all .5s ease-in-out;
}

.service-cta button:hover{
    border: 2px solid #ffd770;
    color: #ffd770;
    background-color: #275754;
}

.service-cta button:hover > svg {
    opacity: 1; 
    transform: translateX(20px);
}








  /* circle style */
  .circle {
        position: absolute;
        border: solid 3px #ffd770;
        width: 60px; 
        height: 60px; 
        border-radius: 50%; 
        pointer-events: none; 
        transition: background-color .5s ease-in-out;
        /* transition: background-color .5s ease-in-out; */
    }


@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
    
/*  */


/* 
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">faerfae</div>
                            <div class="col-6">efafe</div>
                            <div class="col-6">faerfae</div>
                            <div class="col-6">efafe</div>
                        </div>
                    </div>
*/

/* 
                        <h1>
                            <span class="title_one" data-aos="fade-right" 
                            data-aos-duration="2000"
                            >SIGNATURE</span><br>
                            <span class="title_three" data-aos="fade-right" 
                            data-aos-duration="2000" data-aos-delay="300">CONSULTING</span>
                            <div class="d-flex ">
                                <span class="title_two"data-aos="fade-right" 
                                data-aos-duration="4000" data-aos-delay="700">UNE CREATIVITE A LA HAUTEUR DE VOTRE AMBITION</span>
                            </div>
                        </h1>


*/




/* *

        //  A .to() tween will start at the element's current state and animate "to" the values defined in the tween
        gsap.to("", {
            y: 700, 
            x : 700 , 
            duration : 1,
            // This mean that when the .quare element enter the viewport, the animation is triggered
            // This can be another element that the element we want to animate
            scrollTrigger : {
                // to get access to all the scrollTrigger proterties, we should give an object 
                trigger :".square", // We give the element that will be the trigger for the animation


                start : "top center", // This property help to set the starting point of the animation. By default
                // The animation start when the trigger element enter the viewport
                //  start : 400 => When you give a value, that mean the animation will start 400px after the 
                // Trigger element entered the viewport

                // start: "top center" => that mean that, start the animation when the "Top" of the TRIGGERED element
                //  meet the "center" of the VIEWPORT. that's when the animation will start.


                markers : true , // For debugging

                scrub : 4, // The element animation follow the scrollbar
                // If you give a number to the scrub property, it's define the duration of the animation

            } 
        })




*/


.work_image-container img{
    max-width: 300px;
    border-radius: 20px;
}

.work_description-container h2 {
    font-size: 2rem;
    color: #ffd770;
    text-transform: none;
}

.work_description-container p {
    font-size: 1rem;
    color: #ffd67081;
}


.rea-title{
    position: relative;
    margin-bottom: 1rem;
}

.rea-title .title{
    text-transform: uppercase;
    font-size: 4rem;
    color: #275754;
    word-spacing: 3px;
    font-family: "BebasNeue";
}






.rea-title .floating {
    color: #f2bf11;
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    top: -3rem;
    font-family: "Fortunates";
    /* font-style: italic; */
}


.title-para {
    color: #275754;
    font-family: 'eras'; 
    max-width: 50ch; 
    font-weight: bold;
}

.no-padding{
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rea-image {
    display: block;
    width: 100%;
    /* max-width: 449px; */
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
}

.img-figure{
    position: relative;
}




.img-caption{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.636);
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}


.img-caption:hover {
    opacity: 1;
    
}


.img-caption h2 {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "goldbill";
    letter-spacing: 3px;
    transition: tranform .5s ease-in-out;
    cursor: pointer;
}




.img-border{
    /* border: 1px white solid; */
}

.work-item img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}


.overlay-description {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.662);
    opacity: 0;
    transition: all .5s ease-in-out;
}
.overlay-description h2 {
    color: #ffd770;
    font-family: 'eras';
    text-transform: uppercase;
}

.overlay-description:hover {
    opacity: 1;
}


.work-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 2rem;
}
.work-desc span{
    color: #ffd770;
    font-family: 'eras';
    text-transform: uppercase;
    font-size: 1rem;
}

.work-desc h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    color: #e9e9c3;

}

.work-desc p {
    max-width: 40ch;
    color: #e9e9c3;
    font-size: 1rem;
    font-family: 'eras';
    margin-bottom: 2rem;

}
.work-desc button {
    background: none ;
    border: 2px solid #e9e9c3;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e9e9c3;
    transition: all .5s ease-in-out;
}


.service-card{
    border: #e9e9c35f 1px solid;
    border-radius: 10px;
    padding: 1rem 0px 1rem 2rem;
    height: 100%;
    scale: 1;
    transition: scale .2s ease-in;
}


.service-card:hover{
    border: #f2bf11 2px solid;
    scale: 1.1;
}

.service-card:hover .card-top h2 {
    color: #f2bf11;
}

.card-top .icon {
    margin-bottom: 30px;
    /* text-align: center; */
}

.card-top h2{
    color: #e9e9c3;
    font-family: 'BebasNeue';
    letter-spacing: 3px;
    transition: color .4 ease-in;
    cursor: pointer;
    /* margin-bottom: 30px; */
}

.service-card hr {
    filter: none;
    opacity: 1;
    background: none;
    color: #f2bf11;
    background-color: #f2bf11;
    height: 2px;
    width: 80px;
    transition: all .2s ease-in;
}


.service-card:hover hr{
    width: 200px;
}

.card-bottom p {
    color: #e9e9c3;
    font-family: 'eras';
    max-width: 30ch;
    padding: 1rem 0px;
}

.card-bottom a {
    text-decoration: none;
    font-family: 'eras';
    color: #f2bf11;
    border-bottom: #f2bf11 1px solid ;
}



/* Reference section */

.ref-titles {
    padding: 10px;
}

.ref-titles h3{
    font-size: 1.5rem;
    font-family: 'BebasNeue';
    font-weight: 800;
    text-transform: uppercase;
    color: #f2bf11;
    letter-spacing: 5px;
    
}

.ref-titles h1 {
    font-size: 3rem;
    font-family: 'BebasNeue';
    font-weight: 800;
    color: #275754;
    letter-spacing: 3px;
    margin-top: 10px;
}

.ref-item{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.ref-item img {
    display: block;
    width: 100%;
    max-width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.ref-item .divider{
    background-color: #e9e9c3;
    height: 150px;
    width: 2px;
}




/* Button section style */


.service-btn,  .realisation-btn {
    padding-top: 5rem;
    text-align: center;
}

.realisation-btn a {
    text-decoration: none;
    font-size: 1rem ; 
    font-family: 'eras';
    font-weight: bold;
    color: #275754;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 0px #275754 solid;
    transition: all .5s ease-in ;
}

.realisation-btn svg {
    fill: #275754;
    width: 1rem;
    height: 1rem;
    transition: all .5s ease-in;
}

.realisation-btn:hover a{
    border-bottom: 1px #275754 solid;
}



.service-btn a {
    text-decoration: none;
    font-size: 1rem ; 
    font-family: 'eras';
    color: #f2bf11;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 0px #f2bf11 solid;
    transition: all .5s ease-in ;
}

.service-btn svg {
    fill: #f2bf11;
    width: 1rem;
    height: 1rem;
    transition: all .5s ease-in;
}

.service-btn:hover svg, .realisation-btn:hover svg {
    width: 2rem;
    height: 2rem;
}

.service-btn:hover a{
    border-bottom: 1px #f2bf11 solid;
}







/* Contact section */

.contact-titles {
    padding: 10px;
}

.contact-titles h3{
    font-size: 13px;
    font-family: 'eras';
    font-weight: 800;
    text-transform: uppercase;
    color: #ffd770;
    letter-spacing: 5px;
}

.contact-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.contact-titles h1 {
    font-size: 46px;
    font-family: 'eras';
    font-weight: 800;
    color: #275754;
    margin-top: 10px;
}

.tab-content{
    padding: 0px 2rem;
}

.nav-pills .nav-item{
    padding: 0 !important;
}

.nav-pills button {
    background: none !important;
    font-family: "BebasNeue";
    color: #e9e9c39f !important;
}


.nav-pills button.active {
    background: none !important;
    font-family: "BebasNeue";
    /* color: #ffd770 !important; */
    border: 1px solid #ffd770;
    color: #e9e9c3 !important;
    border-radius: 10px;
}

.contact-content{
    background-color: #275754;
    border-radius: 10px;
    padding: 1rem 1rem;
}

::placeholder {
    color: #e9e9c3 !important;

}
.form-email input, .form-tel input{
    background: none;
    border: none;
    font-family: 'eras';

    color: #e9e9c3 !important;
    border-bottom: 1px solid #e9e9c3;
}

.form-email .submit, .form-tel .submit{
    background: none;
    border: none;
    font-family: 'eras';

    color: #e9e9c3 !important;
    border: 1px solid #e9e9c3;
    transition: all .5s ease-in;
    padding: .75rem 0px;
}


.form-email .submit:hover,.form-tel .submit:hover{
    background-color: #ffd770;
    font-family: 'eras';
    color: #275754 !important;
    border: 1px solid #275754;
}

.form-email label, .form-tel label {
    font-family: 'eras';
    font-weight: 700;
    color: #e9e9c3 !important;
}
.form-email input:focus, .form-tel input:focus{
    background: none;
    border: none;
    color: #e9e9c3 !important;
    border: 1px solid #e9e9c3;
    box-shadow: none;
}

.form-email textarea{
    background: none;
    border: none;

    font-family: 'eras';

    color: #e9e9c3 !important;
    border-bottom: 1px solid #e9e9c3;
}


.form-email textarea:focus{
    background: none;
    border: none;
    color: #e9e9c3 !important;
    border: 1px solid #e9e9c3;
    box-shadow: none;
}

.tel-content h2 {
    font-size: 1.5rem;
    font-family: 'eras';

    color: #e9e9c3 !important;
    margin: 30px 0px;
}

.tel-content p {
    font-size: 1rem;
    font-family: 'eras';

    color: #e9e9c3 !important;
    margin-bottom: 10px;
}



.contact-desc{
    color: #e9e9c3;
    text-align: center;
}

.contact-desc h1 {
    font-size: 4rem ;
    font-family: 'eras';
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.contact-desc h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'eras';
}

.contact-desc button {
    background: none ;
    border: 2px solid #e9e9c3;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e9e9c3;
    transition: all .5s ease-in-out;
}

.contact-desc button:hover{
    background-color: #e9e9c3;
    color: #275754;
    font-weight: bold
}


.footer-s1 {
    display: flex;
    justify-content: center;
}
.footer-s1 img {
    display: block;
    width: 100%;
    max-width: 150px;
    object-fit: contain;
    object-position: center;
}



.footer-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.map-icon{
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: #e9e9c3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-icon img {
    max-width: 100%;
}

.map-desc{
    margin-left: 2rem;
}

.map-desc h3 {
    font-size: 2rem;
    font-family: "BebasNeue";
    text-transform: uppercase;
    color: #E7E7D9;
    letter-spacing: 2px;
    margin: 0;
}

.map-desc p {
    color: #f2bf11;
    font-family: 'eras';
    font-size: 1rem;
    margin: 0;
}



.footer-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-media svg{
    transform: rotate(0deg);
    transition: all 1s ease-in-out ;
}

.footer-media svg:hover{
    transform: rotateY(360deg);
}

/* @keyframes rotate {
    0% {
        tra
    }
} */


.footer-nav a {
    font-size: .75rem;
    color: #e9e9c34e;
    text-decoration: none;
}

.footer-nav a:hover {
    
    color: #e9e9c3;
}
.footer-nav span{
    padding: 0px 1rem;
    color: #e9e9c34e;
}

/* Tablet size */
@media only screen and (min-width : 800px){
    .banner-right {
        padding: 0 ;
    }
}


/* Desktop size */
@media only screen and (min-width: 1200px){
    .small_banner{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .small_banner h3 {
        font-family: "BebasNeue";
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 4px;
        writing-mode: vertical-rl;
        /* text-orientation: mixed; */
        transform: rotate(180deg);
        color: #275754;
    }
    

    
    
    .banner-container{
        /* border-left: solid 3px #ffd770; */
        overflow: hidden;
        height: 100vh;
        /* background-color: #285856; */
        background-image: url('./assets/imgs/FOND.png');
        background-position: center;
        background-repeat: no-repeat;
    }

    
    .banner-left{
        text-align: left;
        padding: 0px;
        padding-left: 100px;  padding-top: 50px;
    }
        
    
    .banner-left > span {
        font-size: 0.875rem;
        font-family: "BebasNeue";
        text-transform: uppercase;
    }
    
    .banner-left h1 {
        font-size: 3rem;
        font-family: "BebasNeue";
        text-transform: uppercase;
        color: #e9e9c3;
        margin-bottom: 0rem;

    }


    
    .banner-left .divider-banner {
        height: 5px;
        width: 100px;
        background-color: #ffd770;
        margin: 2rem 0px;
    }
    
    .banner-left  > p {
        color: #e9e9c3de;
        font-family: "eras";
        max-width: 60ch;
        line-height: 1.75rem;
    }
    
    .banner-left .button {
        border: 2px solid #ffd770;
    }
    
    .banner-right {
        padding-bottom: 100px; 
        padding-top: 100px;
    }

    .banner-img {
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
    }
    
    .banner-img img {
        display: block;
        width: 100%;
        max-width: 300px;
        object-fit: contain;
        object-position: center;
    }
}